@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 p-0 font-sans;
}

@layer utilities {
  .animate-fadeOut {
    animation: fadeOut 0.5s ease-out forwards;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
}
